<!-- <% include ./partians/header.ejs %>
<div id="register" class="w-full  h-screen  flex items-center justify-center">
  <div>
    <div class="flex justify-center pt-0 p-10">
      <div>
        <img class="block mx-11" src="/images/Logo.svg" alt="">
        <h3 class="block text-md text-white">Online Project Managment</h3>
      </div>
    </div>
  
 
  <div class="w-96 h-96 bg-zinc-100 px-10  py-5 rounded-[30px]">
    <h3 class="text-3xl text-center tracking-tighter mt-3 font-semibold">Create New Account</h3>
    <form action="/register" method="post">
      <input class="block rounded-md w-full py-2 px-3 my-3" type="email" name="email" placeholder="Email" required>
      <input class="block rounded-md w-full py-2 px-3 my-3" type="password" name="password" placeholder="Password" required>
      <input class="block w-full py-2 px-3 bg-blue-500 text-white rounded" type="submit" value="Create New Account">
  </form>
  
    <a class="w-full text-sm text-center inline-block text-zinc-700 mt-3 font-semibold" href="/">Login with existing page</a>
  </div>
</div>
</div>
<% include ./partians/footer.ejs %> -->